<div class="content">   
    <h2>{{user.firstName}} {{user.lastName}}</h2>
  
    <div class="card mt-3" *ngFor="let book of userBooks">   
        <div class="card-body">
          <h3 class="card-title"><b>{{book.bookName}}</b></h3>
          <p class="card-text"><b>Son Teslim:</b> {{book.returnDate}}</p>
          <p class="card-text"><b>Kalan Gün:</b> {{book.remainingDay}}</p>
          <a class="btn btn-primary" *ngIf="!book.isTimeExtended" (click)="addExtensionForBook(book.id)">Süresini Uzat</a>
          <p *ngIf="book.isTimeExtended"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
            <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
          </svg> Süre Uzatma Hakkınız Bulunmamaktadır.</p>
        </div>
    </div>
</div>
